<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Interest_Search_WPF.Properties.Settings.isPrimConnectionString"
            connectionString="Data Source=isprimer.database.windows.net;Initial Catalog=isPrim;Persist Security Info=True;User ID=ftfour;Password=1iseeyourlegs_"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>